* {
  margin: 0;
  padding: 0;
}
.loading {
  padding: 50px;
}
.loading div {
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 50%;
}
.loading div.load-round1 {
  background: plum;
  -webkit-animation: round1 3s linear 0s infinite alternate;
}
.loading div.load-round2 {
  background: pink;
  -webkit-animation: round2 3s linear 0s infinite alternate;
}
@-webkit-keyframes round1 {
  from {
    -webkit-transform: scale(0.8);
  }
  to {
    -webkit-transform: scale(1.2);
  }
}
@-webkit-keyframes round2 {
  from {
    -webkit-transform: scale(1.2);
  }
  to {
    -webkit-transform: scale(0.8);
  }
}
